* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ddd;
}

main {
  flex: 1 1 auto;
  padding-left: 1em;
}

h1 {
  padding-left: 0.5em;
  padding-top: 0.5em;
}
h2 {
  padding-top: 2em;
  padding-bottom: 1em;
}

footer {
  background-color: grey;
  color: white;
  padding: 0.5em 0 0 1em;
}

header,
main,
footer {
  padding: 1.5 em 2em;
  border: 1px solid black;
}

p {
  margin-bottom: 2em;
}
