@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,400;1,500&family=Open+Sans&family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,400;1,400;1,500&family=Open+Sans&family=Raleway:wght@100&display=swap");

body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2 {
  font-family: "Great Vibes", cursive;
  line-height: 1.2;
  font-weight: bold;
}

.circle {
  list-style-type: circle;
  padding-left: 2em;
}
.inside {
  list-style-position: inside;
}
